<!DOCTYPE html>
<html lang="en">
<head>
	<title>Herd</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment-with-locales.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="/js/herd.js"></script>
</head>

<body>
	{{!-- navbar --}}
	{{#if user}}
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid rgba(46,62,72,.12)">
		<a class="navbar-brand" href="/"><img src="/img/HERD.png" style="height:40px"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarNavAltMarkup">
		<div class="navbar-nav ml-auto">
			<a class="nav-item nav-link" href="/dashboard">Dashboard</a>
			<a class="nav-item nav-link" href="/signout">Sign out</a>
			</div>
		</div>
	</nav>
 	{{/if}}
	{{#unless user}}
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid rgba(46,62,72,.12)">
		<a class="navbar-brand" href="/"><img src="/img/HERD.png" style="height:40px"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarNavAltMarkup">
		<div class="navbar-nav ml-auto">
			<a class="nav-item nav-link" href="/login">Login</a>
			<a class="nav-item nav-link" href="/signup">Sign up</a>
		</div>
	</div>
	</nav>
	{{/unless}}


	{{{ body }}}

<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Footer Elements -->
    <div class="container" style="padding:0">
			<hr>

      <!-- Social buttons -->
      <ul class="">
        <li class="list-inline-item">
          <a href="/" class="btn-floating btn-fb mx-1" >
            About
          </a>
        </li>
      </ul>
	  <ul class="">
        <li class="list-inline-item">
          <a href="/api" class="btn-floating btn-fb mx-1">
            Developers
          </a>
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center">© Copyright: 2018
      <a href="https://mdbootstrap.com/education/bootstrap/">
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>
</html>
