<h3>Popular Events</h3>
<div class="container">
    <div class="row">
        <div>
            {{#each Events}}
                <div>Event name: {{name}}</div>
                <div>Event description: {{description}}</div>
                <div>Event time: {{time}}</div>
            {{/each}}
        </div>
    </div>
</div>