<h3>Event info</h3>
<div class="container">
    <div class="row">
        <div>
            <div>Event name: {{name}}</div>
            <div>Event description: {{description}}</div>
            <div>Event time: {{time}}</div>
        </div>
    </div>
</div>