<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-md-6 col-md-offset-3">
        <div class="login-form needs-validation">
            <h2>Login Form</h2>
            <form action="auth" method="POST" novalidate>
                <div class="form-group">
                    <input name="username" placeholder="Username" type="text" class="form-control" id="username" required>
                    <br />
                    <input name="password" placeholder="Password" type="password" class="form-control" id="password" required>
                    <br />
                    <button type="submit" class="btn btn-success submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>