<script src="/js/newcommunity.js" type="text/javascript"></script>

<div class="container">
    {{!-- <div class="row">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/blog">Go to Blog</a>
        </div>
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/authors">Manage Authors</a>
        </div>
    </div> --}}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-md-6 col-md-offset-3 align-center">
            <div class="card event-content">
            <h3>Create a New Community</h3>
            <form id="newCommunityForm" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="name">Community Name:</label>
                    <input placeholder="San Francisco Developers" type="text" class="form-control" id="name" {1,100} required>
                    <div class="invalid-feedback">
                    Please provide a name with the limit of 100 characters.
                    </div>
                    <br />
                    <label for="description">Description:</label>
                    <textarea placeholder="Organizing events for developers in the Bay Area" class="form-control" rows="4" id="description" pattern="[A-Za-z0-9]{100,400}" required></textarea>
                    <div class="invalid-feedback">
                    Please provide a description with 100 to 400 characters.
                    </div>
                    <br />
                    <label for="image">Community Image:</label>
                    <input placeholder="" type="text" class="form-control" id="image">
                    <br />
                    <button type="submit" class="btn btn-success submit">Submit</button>
                </div>
            </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>