<script src="/js/newevent.js" type="text/javascript"></script>

<div class="container">


    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-md-6 col-md-offset-3">
            <div class="card event-content">
            <h3>Create a New Event</h3>

            <form id="newEventForm" data-name="{{community.name}}" data-id="{{community.id}}" class="needs-validation" novalidate>

                <div class="form-group">
                    <label for="name">Event Name:</label>
                    <input placeholder="Movie Night & Potluck" type="text" class="form-control" id="name" pattern="[A-Za-z0-9]{1,100}" required>
                    <div class="invalid-feedback">
                    Please provide a name with the limit of 100 characters.
                    </div>
                    <br />
                    <label for="date">Date:</label>
                    <input placeholder="February 11, 2019 20:00:00" type="text" class="form-control" id="date" pattern="([1-9]\d{3}\/(0[1-9]|1[0-2])\/(0[1-9]|[12]\d|3[01])[\ ]([01]?[0-9]|2[0-3]):[0-5][0-9])" required>
                    <br />
                    <label for="description">Event Description:</label>
                    <textarea placeholder="We'll vote on a movie. Everyone bring something to share." class="form-control" rows="4" id="description" pattern="[A-Za-z0-9]{6,400}" required></textarea>
                    <div class="invalid-feedback">
                    Please provide a description with the limit of 400 characters.
                    </div>
                    <br />
                    <label for="location">Event Location:</label>
                    <input placeholder="San Francisco" type="text" class="form-control" id="location" pattern="[A-Za-z0-9]{1,100}" required>
                    <br />
                    <label for="max-attendees">Max Attendees:</label>
                    <input placeholder="30" type="number" class="form-control" id="max-attendees" required>
                    <br />
                    <button type="submit" class="btn btn-success submit">Submit</button>
                </div>
            </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
