<script src="/js/signup.js" type="text/javascript"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-md-6 col-md-offset-3">
        <div class="card event-content">
        <div class="login-form needs-validation">
            <h3>Login Form</h3>
            <form d="signup" action="auth" method="POST" novalidate>
         
                <div class="form-group">
                    <input name="username" placeholder="Username" type="text" class="form-control" id="username" required>
                    <br />
                    <input name="password" placeholder="Password" type="password" class="form-control" id="password" required>
                    <br />
                    <button type="submit" class="btn btn-success submit">Submit</button>
                </div>
            </form>
        </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>