@import url('https://fonts.googleapis.com/css?family=Francois+One|Archivo+Black|Roboto+Slab:700|Nunito+Sans:400,600');
html{
    height:100%
}
header {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;
    min-height: 100%;
}
body {
    position: relative;
    margin: 0;
    padding-bottom:10em;
    min-height: 100%;
}

.background {
    width: 100%;
    z-index: -1;
    text-align: center;
}

footer {
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
}

.logo {
    display: inline-block;
    margin: 20px;
    width: 25%;
    text-align: center;
    position: relative;
    z-index: 5;
}

.lead {
    color: #fff;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    margin: auto;
}

#lead-main {
    font-size: 40px;
}

#lead-sub {
    font-size: 30px;
}

#sign-up {
    margin-bottom: 20px;
}

h2 {
    color: #000;
    font-family: 'Archivo Black', serif;
    font-size: 28px;
}
.col {
    padding-bottom: 20px;
}
.card-title {
    font-weight: 600;
    color: #FF5252;
}

.card {
    box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
    -webkit-box-sizing: border-box;
    background: #fff;
    background-clip: padding-box;
    background-size: cover;
    border: 1px solid rgba(46,62,72,.12);
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    min-height: 160px;
    padding: 10px;
    position: relative;
    white-space: normal;
}

.card p {
    font-size: 18px;
}

.container {
    padding-bottom: 40px;
}

@media screen and (max-width: 480px) {
    .background {
        height: 300px;
  }
}

.color-spacer {
    width: 100%;
    height: 14em;
}

.event-page-spacer {
    width: 100%;
    height: 24em;
}

.event-spacer {
    background-color: #ff598f;
}

.community-spacer {
    background-color: #00bfaf;
}

.row-title {
    margin: 20px;
}

#events-row {
    background: white;
}
#communities-row {
    background: white;
}

#event-background {
    background-color: white;
}

.event-content {
    box-shadow: 5px 5px 15px #888888;
    padding: 5%;
    margin-top: 5%;
}

.event-page-spacer {
    height: 300px;
}

.attendee-area {
    margin-top: 1%;
}

.attendee {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px 5px;
    margin: 5px;
}
.attendee-name {
    color: coral;
    font-weight: 500;
}

.invalid {
    border: 1px solid #dc3545;
    border-radius: 4px;
    padding: .375rem 2.25rem .375rem .75rem;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}

.show {
    display: block;
}

.api-section {
    margin: 3%;
}

.profile-photo .profile-email .profile-photo-light {
    display: none;
}
